html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    min-width: 980px;
    left: 0;
    right: 0;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    min-width: 980px;
    font-size: 13px;
    margin-top: 28px;
    height: 90px;
    border-bottom: solid 1px #ebebeb
}

.logo {
    width: 98px;
    height: 32px;
}

.upper-header, .lower-header {
    margin-left: 28px;
}

/* RESULTS HEADER */

.form {
    position: absolute;
    margin-left: 125px;
    margin-top: -38px;
}

.search {
    width: 600px
}

.uh-right {
    float: right;
    margin-right: 28px;
}

.lower-header {
    margin-top: 12px;
}

.lh-left {
    margin-left: 125px; 
}

.lh-right {
    float: right;
}

.h-button {
    padding-right: 15px;
    font-size: 13px;
    color: #777777;
}

.results-body {
    position: absolute;
    margin-top: 70px;
    width: 755px;
}

.stats {
    margin-top: 28px;
    margin-left: 160px;
    color: #777777;
    font-size: small;
}

.results-main {
    width: 600px;
    padding-left: 155px;
}

.r1, .r2, .r3, .h-button, .stats {
    font-family: arial, sans-serif;
}

.r1 {
    font-size: 18px;
    line-height: 24px;
    color: #1a0dab;
    margin: 0;
}

.r2 {
    font-size: 14px;
    line-height: 20px;
    color: #006621;
    margin: 0;
}

.r3 {
    font-size: small;
    line-height: 1.54;
    color: #545454;
    margin: 0;
    text-align: left;
}

.result {
    margin-bottom: 30px;
}

/*TABLE*/

table {
    border-collapse: collapse;
}

table, tr, td {
    border: 1px solid #ebebeb;
    padding: 7px;
    padding-left: 10px;
    width: 600px;
}

.pa-footer {
    margin: 4px 0 20px 0;
    color: #545454;
    display: block;
    width: 600px;
    text-align: right;
    font-size: 12px;
}

.pa-question {
    font-family: arial, sans-serif;
    font-size: 16px;
    padding-left: 15px;
}

.pa-header {
    font-family: arial,sans-serif;
    font-size: 18px;
    color: #808080;
    padding: 15px 15px 10px;
}

.related-td, .related-tr, .related-table {
    border: 0;
}

.related-td {
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #1a0dab;
}

.related-table {
    margin-left: -10px;
}

.related-header {
    font-size: 18px;
    font-family: arial, sans-serif;
}

.results-img {
    margin-left: 150px; 
    margin-top: 20px;
}

.pages {
    margin-left: 182px;
    margin-bottom: 20px;
}

.page {
    font-family: arial, sans-serif;
    font-size: small;
    margin-left: 8px;
    color: #4285f4;
}

#page10 {
    margin-left: 4px;
}

.page-container {
    position: relative;
    min-height: 100%;
}

.content-wrap {
    overflow: auto;
    margin: auto;
    padding-bottom: 1800px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #f2f2f2;
    line-height: 40px;   
    font-size: 10pt;
    font-family: arial, sans-serif;
    min-width: 980px;
}

.upper-footer, .lower-footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.footer-text {
    margin-left: 25px;
}

.lower-footer-right {
    float: right;
    margin-right: 25px;
}


.sign-in {
    border: 1px solid #4285f4;
    background-color: #4683ea;
    font-weight: bold;
    line-height: 28px;
    border-radius: 4px;
    color: white;
    width: 80px;
}